@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-light: #e7eefd;
}

.ant-menu-inline .ant-menu-item {
    margin-top: 0;
}

.ant-menu-vertical .ant-menu-item {
    margin-top: 0;
}

.landing-page {
    width: 100vw;
    margin-top: 40vh;
    text-align: center;
    color: var(--primary-light);
}

.landing-page h1 {
    color: var(--primary-light);
}

.landing-page-buttons {
    width: 12vw;
    margin-left: 45vw;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.App {
    display: flex;
}

.price-graph {
    padding-left: 2vw;
    margin-top: 6vh;
}